body{
	background-color: #ffccd4;
	margin: 60px 500px 500px 400px ;
	border-style: solid;
	padding: 50px;
	position:absolute;
	 font-family:Arial, Helvetica, sans-serif;

}

#firstH{
 
	
	
	color:#cc0000;
}
